body
{
    font-family: 'Special Elite' , cursive;
    background: palegoldenrod;
}
.header_div
{
    background: white;
    color: red;
}

.header_div p{
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
color: gray;
letter-spacing: 2px;
font-size: 12px;
font-weight: bold;
}
.main_div button{
    font-family:'smooch sans' , cursive;
    margin-top: 30px;
    width:130px;
    font-weight: bolder;
    letter-spacing: 5px;

}

.copy_right_footer 
{
    position:fixed;
    color: grey;
    bottom: 0;
    width:100%;
    font-size: 18px;
    background-color: palegoldenrod;
    line-height: 3;
    text-align:center;
    text-shadow: 5px 5px 5px grey;
}